.git
.github
.idea
.vscode
node_modules
vendor
public/build
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
database/database.sqlite
.env
.env.*
!.env.example
docker-compose*.yml
Dockerfile
.dockerignore
README.md
tests
phpunit.xml
.phpunit.cache
.editorconfig
.gitignore
.gitattributes
.npmrc
